<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body
  style="background-color: #2C2C2C; color: #ECECEC; height: 100vh; display:flex; justify-content: center; font-family: Lucida Grande, Helvetica, Arial, sans-serif;">
  <%- include partials/navbarComponent %>
    <div class="container d-flex flex-column align-items-center justify-content-center" style="max-width: fit-content;">
      <!-- Título e subtítulo centralizados -->
      <div class="text-center pt-3">
        <h1 class="fw-bold" style=" font-weight: bold;">DESCUBRA LIVROS INCRÍVEIS</h1>
        <p class="text-muted">Explore nossa coleção e encontre sua próxima leitura favorita</p>
      </div>

      <div class="container mt-3">
        <!-- Título centralizado acima das imagens -->
        <h3 class=" mb-3 text-left mx-1" style="text-align: left;  font-weight: bold;">Livros em destaque</h3>

        <!-- Imagens centralizadas -->
        <div class="d-flex justify-content-center flex-wrap">
          <% livros.slice(0, 4).forEach(livro=> { %>
            <a href="/descricao?id=<%= livro.id %>"><img src="<%= livro.capa_url %>" class="borda mx-1"
                alt="<%= livro.titulo %>" width="200" height="300"></a>
            <% }); %>
        </div>

        <h3 class="fw-semibold mt-3 text-left" style="text-align: left;">Categorias</h3>
        <div class="d-flex justify-content-start mb-3">
          <button type="button" class="borda btn btn-secondary">Ficção</button>
          <button type="button" class="borda btn btn-secondary mx-1">Aventura</button>
          <button type="button" class="borda btn btn-secondary">Fantasia</button>
        </div>
      </div>
    </div>
</body>

</html>